<div class="footer">
  <ul class="contacts">
    <li><i class="fa-brands fa-github"></i> <br> Github</li>
    <li><i class="fa-brands fa-facebook"></i> <br> Facebook</li>
    <li><i class="fa-brands fa-telegram"></i> <br> Telegram</li>
  </ul>
</div>
