<div id="navbar">
  <div class="logo">
    <h2>AlexTolk</h2>
  </div>
  <div class="menu">
    <ul>
      <li>Technologies</li>
      <li>My Projects</li>
      <li>About Me</li>
    </ul>
  </div>
</div>
